[submodule "Minishell"]
	path = Minishell
	url = git@github.com:jgo-42/Minishell.git
[submodule "philosophers/philo/lib/libft"]
	path = philosophers/philo/lib/libft
	url = git@github.com:idealflower-k/42Seoul-libft.git
